body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentApp {
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px;
    font-size: 90%;
    text-align: center;
}

article {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    padding-bottom: 20px;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}